.branding {
	padding: 0 0 160px;
	background: url(../assets/desktop/image-hero.jpg) no-repeat top right;
}

.branding .width50 {
	padding: 113px 0 0 11.5%;
}

.branding h1 {
	margin-bottom: 50px;
}

.branding p {
	margin-bottom: 48px;
	line-height: 1.8em;
}

.branding .btn {
	height: 72px;
	line-height: 72px;
	width: 177px;
}

@media only screen and (max-width: 1023px) {
	.branding {
		padding-bottom: 150px;
		background-image: url(../assets/tablet/image-hero.jpg);
		.width50 {
			padding: 77px 0 0 5%;
			width: 57%;
		}
		h1 {
			margin-bottom: 27px;
		}
		p {
			margin-bottom: 28px;
		}
	}
}

@media only screen and (max-width: 768px) {
	.branding {
		background: url(../assets/mobile/image-hero.jpg) no-repeat;
		background-size: contain;
		padding-bottom: 96px;
		.width50 {
			padding: 68% 0 0 6%;
			width: 100%;
		}
		h1 {
			margin-bottom: 22px;
		}
		p {
			margin-bottom: 41px;
			line-height: 1.7em;
		}
	}
}
