.design {
	position: relative;
	.wave {
		background: url(../assets/desktop/bg-pattern-wave-red.svg) no-repeat;
	}
	&-bg {
		background: url(../assets/desktop/image-strategic.jpg);
		background-size: cover;
		width: 51%;
	}

	&-text {
		width: 49%;
		background: $black;
		color: $white;
		padding: 14% 8% 28% 11%;
	}

	h2 {
		margin-bottom: 43px;
		span {
			color: $red;
		}
	}

	p {
		margin-bottom: 41px;
		line-height: 1.8em;
	}
}

@media only screen and (max-width: 1023px) {
	.design {
		.wave {
			background-size: cover;
		}
		&-bg {
			width: 49%;
			background-image: url(../assets/tablet/image-strategic.jpg);
		}
		&-text {
			width: 51%;
			padding: 16% 6% 31% 9.3%;
		}
		h2 {
			margin-bottom: 32px;
		}
		p {
			line-height: 1.7em;
			margin-bottom: 26px;
		}
	}
}

@media only screen and (max-width: 768px) {
	.design {
		flex-flow: column;
		&-bg {
			width: 100%;
			background-image: url(../assets/mobile/image-strategic.jpg);
			height: 200px;
		}
		&-text {
			width: 100%;
			padding: 20% 4% 20% 7%;
		}
		h2 {
			font-size: 2em;
			letter-spacing: 0.7px;
			margin-bottom: 25px;
		}
		p {
			margin-bottom: 33px;
		}
	}
}
