footer {
	position: relative;
	align-items: center;
	padding: 118px 11.5%;
	justify-content: space-between;
	.wave {
		background: url(../assets/desktop/bg-pattern-wave-red.svg) no-repeat;
		top: 154px;
		left: -67px;
	}
	h2 {
		max-width: 635px;
	}
	.btn {
		height: 64px;
		width: 199px;
		line-height: 64px;
		font-size: 0.8em;
	}
}

@media only screen and (max-width: 768px) {
	footer {
		flex-direction: column;
		padding: 21px 6.4%;
		align-items: baseline;
		.wave {
			display: none;
		}
		h2 {
			margin-bottom: 50px;
			max-width: 100%;
		}
	}
}
