.hamburger {
	display: none;
}

header {
	height: 178px;
	align-items: center;
	justify-content: space-between;

	.logo {
		margin: 15px 0 0 11.5%;
	}

	nav {
		background: $red;
		width: 49%;
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		height: 100%;
		padding: 0 0 0 4.8%;

		a {
			width: 12%;
			color: $white;
			margin: 0 5.2% 0 0;
			font-size: 0.88em;
			padding: 0 3px;
			&:hover {
				transform: scale(1.1);
				font-weight: 800;
			}
		}

		.btn {
			height: 64px;
			line-height: 64px;
			width: 31%;
			margin-left: 18px;
			font-size: 0.88em;
		}
	}
}

@media only screen and (max-width: 768px) {
	header {
		height: 110px;
		position: relative;
		.logo {
			margin-left: 6%;
		}
		nav {
			display: none;
			flex-direction: column;
			position: absolute;
			top: 110px;
			right: 20px;
			width: 252px;
			background: $black;
			height: 250px;
			padding: 10px 0;
			&.active {
				display: flex;
			}
			.btn {
				background: $red;
				width: 199px;
			}
			a {
				font-size: 1.1em;
				margin: 0 0 20px;
			}
		}
		.hamburger {
			margin-right: 20px;
			display: block;
			border: 0;
			outline: 0;
			background: transparent;

			span {
				display: block;
				width: 24px;
				height: 2px;
				margin-bottom: 5px;
				position: relative;
				z-index: 1;
				background: $black;
				transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
			}
			&.active {
				span {
					opacity: 1;
					transform: rotate(-45deg) translate(5px, -8px);
					&:nth-last-child(3) {
						opacity: 0;
						transform: rotate(0deg) scale(0.2, 0.2);
					}
					&:nth-last-child(2) {
						transform: rotate(45deg) translate(-3px, -1px);
					}
				}
			}
		}
	}
}
