.slider {
	color: $white;
	position: relative;
	.wave {
		background: url(../assets/desktop/bg-pattern-wavy-white.svg) no-repeat;
		z-index: 2;
		left: calc(50% - 100px);
	}
	&-main-title {
		background: $black;
		min-height: 528px;
		justify-content: center;
		padding: 0 14% 0 24%;
		h2 {
			margin-bottom: 56px;
		}
	}
	.left {
		width: 53%;
		padding: 0 0 100px;
		position: relative;
		z-index: 1;
	}
	.right {
		width: 69%;
		margin-left: -10%;
		.slide {
			height: 728px;
			background-size: cover;
			position: relative;
			.text {
				position: absolute;
				bottom: 66px;
				right: 153px;
				text-align: right;
			}
		}
	}
	.slide {
		display: none;
		&-title {
			font-weight: 800;
			margin-top: -4px;
			letter-spacing: 1px;
		}
	}
	&-btn {
		width: 40px;
		height: 40px;
		border: 0;
		outline: 0;
		cursor: pointer;
		&-left {
			background: url(../assets//desktop/icon-arrow-previous.svg)
				no-repeat;
			margin: 0 16px 0 3px;
		}
		&-right {
			background: url(../assets//desktop/icon-arrow-next.svg) no-repeat;
		}
	}
}

@media only screen and (max-width: 1023px) {
	.slider {
		.wave {
			left: calc(50% - 23px);
			background-size: cover;
		}
		.left {
			width: 52%;
		}
		&-main-title {
			min-height: 352px;
			padding: 0 10%;
			h2 {
				margin-bottom: 32px;
			}
		}
		.right {
			width: 58%;
			margin-left: -8%;
			.slide {
				height: 471px;
				.text {
					bottom: 39px;
					right: 40px;
				}
				&-title {
					margin-top: 0;
					letter-spacing: inherit;
					line-height: 1;
				}
			}
		}
	}
}

@media only screen and (max-width: 768px) {
	.slider {
		flex-direction: column-reverse;
		.wave {
			display: none;
		}
		.left {
			width: 100%;
		}
		.right {
			width: 100%;
			margin: 0;
			.slide {
				height: 405px;
				.text {
					bottom: 30px;
					right: 32px;
				}
				&-title {
					margin-bottom: -3px;
				}
			}
		}
		&-main-title {
			padding: 0 6%;
			min-width: 273px;
			h2 {
				margin-bottom: 25px;
			}
		}
	}
}
